body{
}
a{
	cursor:pointer;
}
.active {
    background: lightgrey;
    color: #000;
}

.nav-link {
    color: black;
}

article {
    padding: 15px 20px;
    text-align: left;
    border-radius: 3px;
}

div {
    line-height: 200%;
}

img {
    float: left;
    margin: 0px 11px 0px 5px;
}

.main {
    line-height: 260%;
    padding: 0px 30px;
    color: #000;
}

.bord1 {
    border: 1.5px solid #289AFF;
    padding: 20px;
}

.CodeMirror-wrap {
    height: auto;
}

.jumbotron{
	text-align : center;
}